@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .active {
        @apply bg-yellow-400  text-black shadow-md
    }

    .dashboard-active-link {
        @apply text-gold-100
    }
}


:root {
    --c-bg: snow;
    --c-scrollbar: lightsteelblue;
    --c-scrollbar-hover: #000;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: var(--c-bg);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--c-scrollbar);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--c-scrollbar-hover);
}
